/**
 * @name Translucence Purple
 * @version 1.0.6.4
 * @description نسخة بنفسجية من ثيم Translucence مع خلفية GIF
 * @author CapnKitten
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	/* APP ELEMENTS */
	--app-bg: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzd1b3loODh4cmZtdTJ0eDlyam9ncTRkeTk1bWx6Yzd4ZXd6MDI0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/d7174wd0GwAx4CNi7a/giphy.gif);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px;

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 270; /* بنفسجي */
	--accent-saturation: 77.5%;
	--accent-lightness: 60%;
	--accent-opacity: 1;
	--accent-text-color: hsl(0,0%,100%);

	/* SIDEBARS AND CHAT AREA COLOR SETTINGS */
	--sidebar-color: hsl(270,30%,15%,0.4);
	--main-content-color: hsl(270,30%,12%,0.2);

	/* MESSAGE SETTINGS */
	--message-color: hsl(270,30%,15%,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px;

	/* REPLY HSL COLOR SETTINGS */
	--reply-hue: 270;
	--reply-saturation: 70%;
	--reply-lightness: 65%;
	--reply-opacity: 1;

	/* TEXTAREA SETTINGS */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: hsl(0,0%,100%);
	--textarea-radius: 22px;

	/* CARD SETTINGS */
	--card-color: hsl(270,30%,15%,0.4);
	--card-color-hover: hsl(270,30%,15%,0.5);
	--card-color-select: hsl(270,30%,15%,0.7);

	/* BUTTON SETTINGS */
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: hsl(270,30%,50%);
	--button-radius: 16px;
}

.visual-refresh.theme-dark {
	/* TEXT COLOR SETTINGS */
	--text-primary: hsl(0,0%,100%);
	--text-secondary: hsl(0,0%,77%);

	/* CHANNEL COLOR SETTINGS */
	--channels-default: hsl(270,30%,70%);
	--channel-icon: hsl(270,30%,70%);

	/* ICON COLOR SETTINGS */
	--icon-primary: hsl(270,30%,96%);
	--icon-secondary: hsl(270,30%,84%);
	--icon-tertiary: hsl(270,30%,71%);

	/* INTERACTIVE COLOR SETTINGS */
	--interactive-normal: hsl(270,30%,79%);
	--interactive-hover: hsl(270,30%,91%);
	--interactive-active: hsl(270,30%,100%);
	--interactive-muted: hsl(270,30%,43%);

	/* BACKGROUND MODIFIER SETTINGS */
	--background-modifier-hover: hsl(270,30%,100%,0.075);
	--background-modifier-selected: hsl(270,30%,100%,0.125);
}
